*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#Tieude{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
.Noidung{
    font-family: 'Dancing Script', cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 500px;
    padding: 60px;
    box-shadow: 0 30px 50px #787777;
    border-radius: 20px;
}
#slide{
    width: max-content;
    margin-top: 50px;
}
.items{
    width: 20%;
    height: 20%;
    background-position: 10% 70%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(-80%,140%);
    border-radius: 20px;
}
.items:nth-child(1),
.items:nth-child(2){
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background-position: 50% 50%;
}
.items:nth-child(3) .contain{
    opacity: 0;
}
.items:nth-child(n+4){
    opacity: 0;
}
.items .name{
    margin-left: 5px;
    color: rgb(0, 255, 247);
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: Showcontain 1s ease-in-out 1 forwards;
}
.items .des{
    margin: 20px 0;
    opacity: 0;
    animation: Showcontain 1s ease-in-out 0.2s 1 forwards;
}
.items button{
    padding: 10px 20px;
    border: none;
    opacity: 0;
    border-radius: 10px;
    background-color: #e7f800;
    animation: Showcontain 1s ease-in-out 0.4s 1 forwards;
}
.items button a{
    text-decoration: none;
    color: black;
}
@keyframes Showcontain{
    from{
      opacity: 0;
      transform: translate(0,100px);
      filter: blur(33px);
    }
    to{
      opacity: 1;
      transform: translate(0,0);
      filter: blur(0);
    }
}
.button{
    position: absolute;
    bottom: 30px;
    z-index: 222222;
    text-align: center;
    width: 100%;
  }
  .button button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0,5s;
  }
  .button button:hover{
    background-color: antiquewhite;
  }
